<div class="container">
  <fieldset>
    <legend>Location Information</legend>
    <div class="location-layout">
      <div class="city">
        <ngx-sp-ui-autocomplete
          autoCompleteItemName="city"
          autoCompleteItemPlaceholder="City"
          [searchItems]="this.cities$ | async"
          (autoCompleteSelected)="cityAutoCompleteItemSelected($event)">
        </ngx-sp-ui-autocomplete>
        @if (cityAutoCompleteSelectedValue$ | async; as cityAutoCompleteSelectedValue) {
          <h4>The city has been set to {{ cityAutoCompleteSelectedValue }} </h4>
        }
      </div>
      <div class="country">
        <ngx-sp-ui-autocomplete
          autoCompleteItemName="country"
          autoCompleteItemPlaceholder="Country"
          [searchItems]="this.countries$ | async"
          (autoCompleteSelected)="countryAutoCompleteItemSelected($event)">
        </ngx-sp-ui-autocomplete>
        @if (countryAutoCompleteSelectedValue$ | async; as countryAutoCompleteSelectedValue) {
          <h4>The country has been set to {{ countryAutoCompleteSelectedValue }} </h4>
        }
      </div>
    </div>
  </fieldset>
</div>
